OWNER_NAME="Gon freecss"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "GON-FREECSS-MD"
IMAGE_MENU= "https://i.imgur.com/WEaLzHn.jpeg"
NUMERO_OWNER= "+242067274660"
OWNER_NAME= "᚛GON FREECSS᚜"
DATABASE_URL= ""
WARN_COUNT= "3"
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
